################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GithubActions/.vs/GithubActions/v17
/GithubActions/.vs/GithubActions/FileContentIndex
